<nav>
  <div class="site-title">
    <a href="/"><h1>DineVista</h1></a>
  </div>
  <ul>
    <% if (typeof user !== 'undefined' && user && user.role === 'admin') { %>
      <li><a href="/admin/dashboard">Admin Panel</a></li>
    <% } %>
    <li><a href="/Menu">Menu</a></li>
    <% if (typeof user !== 'undefined' && user) { %>
      <li><a href="/User/Profile">Profile</a></li>
      <li><a href="/Logout">Logout</a></li>
    <% } else { %>
      <li><a href="/SignUp">Sign Up</a></li>
      <li><a href="/Login">Login</a></li>
    <% } %>
  </ul>
</nav>